### Importando as bibliotecas necessárias

In [107]:
import pandas as pd
import numpy as np

### Lendo o arquivo com os dados

In [108]:
dados = pd.read_excel('./Dados de estudantes da UFV - 2022-12-12.ods')
dados

,Identificador,Ano_Nascimento,Sexo,Campus,Curso_Identificador,Curso,UF_Nascimento,Municipio_Nascimento,Admissao,Saida,Codigo_Situacao_Aluno,Situacao_Aluno,Situacao_Aluno_Agrupada,Modalidade_Inscrita,ENEM,Num_Reprovacoes,Raca,CRA
0,29271,1982.0,M,CAV,1101,CAV - Administração,RJ,VOLTA REDONDA,2000/1,2000/1,A,Abandono ...,Evasão,0.0,NaN,0,Informação não disponível,0.0
1,29272,1982.0,M,CAV,1101,CAV - Administração,DF,Brasília,2000/1,2002/1,A,Abandono ...,Evasão,0.0,NaN,3,Informação não disponível,71.2
2,34462,1979.0,F,CAV,1101,CAV - Administração,MG,Viçosa,2000/1,2005/1,C,Conclusão ...,Conclusão,0.0,NaN,3,Informação não disponível,78.5
3,34468,1979.0,F,CAV,1101,CAV - Administração,MG,Belo Horizonte,2000/1,2006/1,C,Conclusão ...,Conclusão,0.0,NaN,20,Pardo(a),56.0
4,34470,1980.0,F,CAV,1101,CAV - Administração,SP,São Paulo,2000/1,2004/2,C,Conclusão ...,Conclusão,0.0,NaN,1,Informação não disponível,76.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74021,172112,1996.0,NaN,CAV,1153,CAV - Bacharelado em Educação Física,NaN,NaN,2023/1,0,N,Normal ...,Matriculado,0.0,NaN,0,Informação não disponível,0.0
74022,172110,1995.0,NaN,CAV,1153,CAV - Bacharelado em Educação Física,NaN,NaN,2023/1,0,N,Normal ...,Matriculado,0.0,NaN,0,Informação não disponível,NaN
74023,172113,1996.0,NaN,CAV,1153,CAV - Bacharelado em Educação Física,NaN,NaN,2023/1,0,N,Normal ...,Matriculado,0.0,NaN,0,Informação não disponível,NaN
74024,172114,1998.0,NaN,CAV,1153,CAV - Bacharelado em Educação Física,NaN,NaN,2023/1,0,N,Normal ...,Matriculado,0.0,NaN,0,Informação não disponível,NaN
74025,172082,2000.0,NaN,CAV,1153,CAV - Bacharelado em Educação Física,NaN,NaN,2023/1,0,N,Normal ...,Matriculado,0.0,NaN,0,Informação não disponível,0.0

### Verificando as 5 primeiras linhas do DataFrame

In [109]:
dados.head()

,Identificador,Ano_Nascimento,Sexo,Campus,Curso_Identificador,Curso,UF_Nascimento,Municipio_Nascimento,Admissao,Saida,Codigo_Situacao_Aluno,Situacao_Aluno,Situacao_Aluno_Agrupada,Modalidade_Inscrita,ENEM,Num_Reprovacoes,Raca,CRA
0,29271,1982.0,M,CAV,1101,CAV - Administração,RJ,VOLTA REDONDA,2000/1,2000/1,A,Abandono ...,Evasão,0.0,NaN,0,Informação não disponível,0.0
1,29272,1982.0,M,CAV,1101,CAV - Administração,DF,Brasília,2000/1,2002/1,A,Abandono ...,Evasão,0.0,NaN,3,Informação não disponível,71.2
2,34462,1979.0,F,CAV,1101,CAV - Administração,MG,Viçosa,2000/1,2005/1,C,Conclusão ...,Conclusão,0.0,NaN,3,Informação não disponível,78.5
3,34468,1979.0,F,CAV,1101,CAV - Administração,MG,Belo Horizonte,2000/1,2006/1,C,Conclusão ...,Conclusão,0.0,NaN,20,Pardo(a),56.0
4,34470,1980.0,F,CAV,1101,CAV - Administração,SP,São Paulo,2000/1,2004/2,C,Conclusão ...,Conclusão,0.0,NaN,1,Informação não disponível,76.9

### Informação sobre o conteúdo dos dados

In [110]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74026 entries, 0 to 74025
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Identificador            74026 non-null  int64
 1   Ano_Nascimento           73949 non-null  float64
 2   Sexo                     73986 non-null  object
 3   Campus                   74026 non-null  object
 4   Curso_Identificador      74026 non-null  int64
 5   Curso                    74026 non-null  object
 6   UF_Nascimento            73971 non-null  object
 7   Municipio_Nascimento     73990 non-null  object
 8   Admissao                 74026 non-null  object
 9   Saida                    74026 non-null  object
 10  Codigo_Situacao_Aluno    74026 non-null  object
 11  Situacao_Aluno           74026 non-null  object
 12  Situacao_Aluno_Agrupada  74026 non-null  object
 13  Modalidade_Inscrita      68753 non-null  float64
 14  ENEM                     39183 non-null  float64
 15  Num_Reprovacoes          74026 non-null  int64
 16  Raca                     74026 non-null  object
 17  CRA                      74016 non-null  float64
dtypes: float64(4), int64(3), object(11)
memory usage: 10.2+ MB

### Descrição dos dados

In [111]:
dados.describe()

,Identificador,Ano_Nascimento,Curso_Identificador,Modalidade_Inscrita,ENEM,Num_Reprovacoes,CRA
count,7.402600e+04,73949.000000,74026.000000,68753.000000,39183.000000,74026.000000,74016.000000
mean,4.914848e+06,1990.876442,1427.490963,3.457725,629.164453,4.968444,61.882511
std,1.032870e+07,8.366123,653.483918,3.957373,68.806862,5.946912,24.364191
min,5.471000e+03,1900.000000,1101.000000,0.000000,253.240000,0.000000,0.000000
25%,6.667525e+04,1986.000000,1112.000000,0.000000,587.660000,0.000000,51.400000
50%,1.119175e+05,1992.000000,1127.000000,1.000000,634.580000,3.000000,69.600000
75%,1.622678e+05,1997.000000,1149.000000,9.000000,676.260000,7.000000,79.300000
max,3.001076e+07,2022.000000,3112.000000,9.000000,847.380000,93.000000,100.000000

### Verificando a quantidade de dados nulos em cada coluna

In [112]:
dados.isnull().sum()

Identificador                  0
Ano_Nascimento                77
Sexo                          40
Campus                         0
Curso_Identificador            0
Curso                          0
UF_Nascimento                 55
Municipio_Nascimento          36
Admissao                       0
Saida                          0
Codigo_Situacao_Aluno          0
Situacao_Aluno                 0
Situacao_Aluno_Agrupada        0
Modalidade_Inscrita         5273
ENEM                       34843
Num_Reprovacoes                0
Raca                           0
CRA                           10
dtype: int64

### Verificando valores únicos e contagem para cada atributo

In [113]:
for coluna in dados.columns:
    print(f"\n{coluna}\nVariedade: {dados[coluna].nunique()}\nDados: \n{dados[coluna].value_counts()}\n")

Identificador
Variedade: 74026
Dados:
29271     1
131589    1
129368    1
129365    1
129354    1
         ..
76865     1
76321     1
76309     1
76304     1
172082    1
Name: Identificador, Length: 74026, dtype: int64


Ano_Nascimento
Variedade: 71
Dados:
1991.0    3803
1995.0    3746
1993.0    3738
1994.0    3737
1996.0    3728
          ...
1942.0       1
2008.0       1
1943.0       1
2015.0       1
1938.0       1
Name: Ano_Nascimento, Length: 71, dtype: int64


Sexo
Variedade: 2
Dados:
F    37032
M    36954
Name: Sexo, dtype: int64


Campus
Variedade: 3
Dados:
CAV    60339
CRP     8413
CAF     5274
Name: Campus, dtype: int64


Curso_Identificador
Variedade: 79
Dados:
1103    5787
1121    1974
1113    1651
1132    1637
1114    1627
        ...
1424     243
1154     217
1418     205
2102     160
1423       1
Name: Curso_Identificador, Length: 79, dtype: int64


Curso
Variedade: 93
Dados:
CAV - Agronomia                                                       5787
CAV - Administração                                                   1982
CAV - Zootecnia                                                       1974
CAV - Engenharia Florestal                                            1651
CAV - Geografia                                                       1637
                                                                      ...
CAF - Física - Licenciatura                                             83
CAV - Administração - Habilitação em Administração de Cooperativas      35
CAV - LETRAS                                                            10
CAV - Biologia                                                           1
CAV - LICENCIATURA EM FISICA                                             1
Name: Curso, Length: 93, dtype: int64


UF_Nascimento
Variedade: 29
Dados:
MG    57331
SP     6416
RJ     3364
ES     3185
BA     1087
GO      509
DF      395
PR      294
PA      213
MT      177
RS      128
MS      117
RO      109
MA      100
PE       88
SC       72
TO       61
CE       57
AM       53
SE       43
AL       38
PB       31
RN       29
AP       23
PI       17
AC       15
RR       13
          3
          3
Name: UF_Nascimento, dtype: int64


Municipio_Nascimento
Variedade: 3059
Dados:
Viçosa                     10664
Belo Horizonte              5549
Ponte Nova                  2419
São Paulo                   2077
Ubá                         1914
                           ...
CAPINOPOLIS                    1
Matias Barbosa                 1
Montes claros                  1
Santa Cruz da Conceição        1
Falta Certidão                 1
Name: Municipio_Nascimento, Length: 3059, dtype: int64


Admissao
Variedade: 53
Dados:
2017/1    4039
2018/1    3962
2016/1    3954
2015/1    3944
2014/1    3918
2011/1    3853
2013/1    3845
2019/1    3794
2012/1    3607
2020/1    3591
2010/1    3399
2022/1    3261
2021/1    3240
2002/1    2854
2009/1    2631
2008/1    2355
2006/1    2275
2007/1    2068
2005/1    1948
2003/1    1947
2004/1    1907
2001/1    1781
2000/1    1531
2011/2     414
2009/2     409
2007/2     340
2010/2     318
2018/2     316
2008/2     313
2006/2     312
2022/2     290
2017/2     277
2016/2     243
2019/2     225
2003/2     182
2002/2     120
2005/2     116
2004/2     102
2021/2      66
2014/2      49
2015/2      45
2020/2      45
2000/2      44
2012/2      26
2001/2      25
2013/2      23
2023/1      10
2020/4       5
2010/0       2
2015/0       2
2007/0       1
2005/0       1
2021/0       1
Name: Admissao, dtype: int64


Saida
Variedade: 65
Dados:
0         13908
2015/2     2604
2014/2     2525
2016/2     2385
2013/2     2348
          ...
2021/0        4
2008/0        3
2014/0        1
2009/0        1
2005/0        1
Name: Saida, Length: 65, dtype: int64


Codigo_Situacao_Aluno
Variedade: 20
Dados:
C    31359
A    16695
N    13436
D     6354
M     5239
T      364
K      323
Z       52
G       49
W       45
F       41
B       20
X       18
S        8
I        6
Y        6
Q        4
J        3
R        2
H        2
Name: Codigo_Situacao_Aluno, dtype: int64


Situacao_Aluno
Variedade: 25
Dados:
Conclusão                                             31359
Normal                                                13436
Abandono                                              13139
Desligamento                                           6354
Mudança de Curso                                       5239
Estudante em abandono de curso                         3556
Transferência                                           364
Trancamento                                             323
Afastamento/Intercâmbio                                  49
Trancamento por Motivo de Saúde                          48
Afastamento Especial                                     45
Falecimento                                              41
Exclusão                                                 18
Concluiu as exigências do curso (não colou grau)         16
Anulação de Matrícula                                     8
Afastamento                                               6
Concluinte (relatório não analisado)                      6
Matrícula Condicional/Reconsideração Desligamento         4
Trancamento de Matrícula por Motivo de Saúde              4
Matrícula Suspensa Temporariamente                        3
Concluindo (não colou grau)                               2
Habilitação                                               2
Concluinte (não colou grau)                               2
Reconsideração de Desligamento/Tramitação                 1
Afastamento/Reconsideração de Desligamento                1
Name: Situacao_Aluno, dtype: int64


Situacao_Aluno_Agrupada
Variedade: 4
Dados:
Conclusão      31385
Evasão         28725
Matriculado    11406
Retenção        2510
Name: Situacao_Aluno_Agrupada, dtype: int64


Modalidade_Inscrita
Variedade: 10
Dados:
0.0    32901
9.0    19495
1.0     4884
5.0     4629
3.0     3348
7.0     3281
8.0       86
4.0       54
6.0       45
2.0       30
Name: Modalidade_Inscrita, dtype: int64


ENEM
Variedade: 13187
Dados:
671.38    14
646.34    13
673.30    13
666.04    13
622.88    13
          ..
541.68     1
509.88     1
464.02     1
449.30     1
530.74     1
Name: ENEM, Length: 13187, dtype: int64


Num_Reprovacoes
Variedade: 61
Dados:
0     21152
1      7862
2      5513
3      4807
5      4689
      ...
46        1
80        1
56        1
58        1
57        1
Name: Num_Reprovacoes, Length: 61, dtype: int64


Raca
Variedade: 6
Dados:
Branco(a)                    26897
Informação não disponível    22373
Pardo(a)                     18077
Preto(a)                      5324
Amarelo(a)                    1089
Indígena                       266
Name: Raca, dtype: int64


CRA
Variedade: 991
Dados:
0.0     3909
79.2     238
76.0     237
76.6     236
80.0     236
        ...
99.5       1
99.3       1
98.6       1
98.3       1
99.2       1
Name: CRA, Length: 991, dtype: int64